

nav,header,footer{
	display: block;
}

body{
	background-color: #20c997;; 
	line-height: 1;
	margin: 0;
  
}
body.index{

	
	background-repeat: no-repeat;
	background-size: cover;
}


p{
	font-size: 30px;
	line-height: 1.3;
}

/*########nav bars########*/
nav{
	width: 100%;
	margin: 0;
}

nav ul{

	overflow: hidden; 
	margin: 0;
	padding: 0 ;
}
 ul.topnav li{
	list-style: none;
	float: left;


}

 ul.topnav li.topnav-right {
 	float :right;
 }
 ul.topnav li a{
 	display: block;
 	text-decoration: none;
 	min-height: 16px;
 	text-align: center;
 	padding: 10px;
 	text-transform: uppercase;
 	color: rgb(0, 0, 8);
 }
 ul.topnav li a:hover{
 	background-color: rgb(15, 15, 5);
 	color: white;
 }
ul.topnav li.dropdown{
	display: none;
}




* {
	box-sizing: border-box;
}




/*###########custonsyles#################*/

#gradient1{
	background: blue;
	background: -webkit-linear-gradient(blue,yellow);
	background: -o-linear-gradient(blue,yellow);
	background: -moz-linear-gradient(blue,yellow);
	background: linear-gradient(blue,yellow);
	border-radius: 10px;
}


div.box{
  padding: 20px 15px 30px 15px;
  margin: 24px;
  border-radius: 8px;
	text-align: center;
	background-color: white;
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,.15), 0 2px,3px 0 rgba(0,0,0,.1) ;
  
}
.clickhear{
	font-size: 30px;
	font-weight: 600;
	color: #fff;
	background-color: blue;
	border-radius: 10px;
	padding: 15px 60px;
	display: block;
	text-align: center;
	margin: 5px;
    display: block;
    margin: auto;
}
.leftside-col{
	margin-left: 25%;

}
div.right-side{

  margin-left: 30%;
  padding: 15px

}
.videocontainer video{
	position: relative;
	width: 100%;
}

h1.large{
	color: white;
	font-size: 50px;
	margin: 0;
	line-height: 50px;
}
h1.h1section2{
	font-size: 70px;
	text-align: center;
	color: crimson;

}


input[type="password"]{
	display: flex;
	font-size: 20px;
	width: 400px;
	min-width: 100px;
	border-radius: 10px;
	padding: 10px;

}
form h2{
	color: white;
}



/*############for mobile################*/


@media screen and (max-width:780px){
	ul.topnav li:not(:nth-child(1)){
		display:none;
	}
	 ul.topnav li.dropdown{
	display:block;
	float:right;
}
ul.topnav.responsive{
	position: relative;
}
ul.topnav.responsive li.dropdown{
	position: absolute;
	top:0;
	right:0;
}
ul.topnav.responsive li {
	display:inline;
	float: none;
}
ul.topnav.responsive li a {
	display:block;
	text-align:left;
}

h1.h1section2{

	font-size: 55px;
}
/*.col-6, .col-4{
	width: 100%;
	margin: 0;  
	padding: 0;
}*/
div.mobilestack {
	width: 50%;
	display: block;
}
div.box{
	padding: 5px;
	display: block;
}

div.leftside-col,
div.right-side{
    margin:15px;


  }
  input[type="password"]{
  	 width: 200px;
  	 display: auto;

  }
.videocontainer video{
	position: relative;
	width: 100%;
	overflow: hidden;
}
div.container div.row div.col-sm-12 ol{
	list-style: none;
}


}



.body{
	font-size:20px;
}
.heading{
	font-size:30px;
	color:white;
	height:40px;
}
.head{
	background-color:blue;
	
}
.section{
		background-image: url('images.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
}
.side{
	background-color:rgb(95, 157, 223);;
}
.image1{
	
	margin: 10px;
	height:250px;
	
		background-image: url('images4.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
}
.place{
	position:relative;
	background-color: rgb(230, 230, 230);
	padding:10px;
	padding-left: 10px;
	margin:30px 50px 0px 100px;
	min-height: 40px;
	border-radius: 0 15px 15px 15px;
	font-size: 15px	;

}

.else{
	padding: 10px;
	margin: 10px;
}

@media screen and (max-width:780px){

.place{
	margin:10px;
}
}